@page
@model RazorNuke.Pages.EditorModel
@{
    ViewData["Title"] = "ویرایش";
}

@if (Model.CurrentPage == null)
{
    return;
}

<div class="text-center">
    <h1 class="display-4">@Model.CurrentPage.Title</h1>
    <form method="post">
        <table style="width:100%;border:0">
            <tr>
                <td>Id:</td>
                <td>@Model.CurrentPage.Id</td>
            </tr>
            <tr>
                <td>عنوان:</td>
                <td>
                    <input asp-for="CurrentPage.Title" />
                </td>
            </tr>
            <tr>
                <td>نامک:</td>
                <td>
                    <input asp-for="CurrentPage.UrlSlug" />
                </td>
            </tr>
            <tr>
                <td>شناسهٔ والد:</td>
                <td>
                    <input asp-for="CurrentPage.ParentId" />
                </td>
            </tr>
            <tr>
                <td>ترتیب در منو:</td>
                <td>
                    <input asp-for="CurrentPage.PageOrder" />
                </td>
            </tr>
            <tr>
                <td>عنوان در منو:</td>
                <td>
                    <input asp-for="CurrentPage.TitleInMenu" />
                </td>
            </tr>

            <tr>
                <td>
                    <span class="inputlabel">متن: </span>
                </td>
                <td>
                    <textarea asp-for="CurrentPage.HtmlText" class="editor"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" name="approve" id="approve" style="width:100%;color:white;background-color:green">ذخیره</button>
                </td>
            </tr>
        </table>
    </form>
</div>


