@page
@model IndexModel

@if(Model.CurrentPage == null)
{
    return;//just to get rid of a compiler warning, because if this variable gets null here the user previously gets a NotFound result and never should get up to here
}

@{
    ViewData["Title"] = Model.CurrentPage.FullTitle;//to be used in Pages/Shared/_Layout.cshtml and other external parts
}


<div class="text-center">
    <h1 class="display-4">@Model.CurrentPage.Title</h1>
    @Html.Raw(Model.CurrentPage.HtmlText)
</div>
